.slider {
	margin-top: 1em;
}
.nav {
	display: flex;
	gap: 5px;
}
.link {
	padding: 5px 10px;
	border-radius: 8px;
	background-color: rgb(60, 60, 60);
	transition: 0.5s;
	a {
		padding: 20px 10px;
		color: white;
	}
}
.active {
	background-color: rgb(62, 155, 172);
}
