$gap-value: 10px;
$accent-color: #3498db;
$background-dark: rgb(60, 60, 60);
$block-radius: 12px;

.teachersPage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachersPage h2 {
  margin: 0 0 1rem 0;
  text-align: center;
  color: #333;
}

.input {
  width: 250px;
  height: 35px;
  padding: 0 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: $block-radius;
  font-size: 16px;
  transition: border-color 0.3s;
  outline: none;

  &:focus {
    border-color: $accent-color;
    box-shadow: 0 0 5px rgba($accent-color, 0.5);
  }
}

button {
  height: 35px;
  padding: 0 15px;
  margin-left: 10px;
  background-color: $accent-color;
  color: white;
  border: none;
  border-radius: $block-radius;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($accent-color, 10%);
  }
}
.dayLists {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dataLists {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #3498db;
}
.teacherSchedule {
  padding: 10px 5px;
  width: 200px;
  min-height: 100px;
  max-width: 200px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}
.listStyle {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 700px;
}

@media (max-width: 1000px) {
  .listStyle {
    width: 500px;
  }
}

@media (max-width: 450px) {
  .listStyle {
    width: 300px;
  }
}
